*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}

.elastic{
    position: relative;
    width: 400px;
    height: 400px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.elastic svg{
    position: absolute;
    width: 400px;
    height: 150px;
}